@import '../../Styles/global.scss';

p{
    margin:0;
    margin-top: 20px;
}
.container{
    height: 100%;
    padding: 1rem;
    @include apply-at-xl-size{
        padding: 3rem;
    }
}
.uploadedFile{
    max-height: 720px;
    @include apply-at-lg-size{
        max-height: 650px;
    }
}
.uploadedContainer{
    width: 100% !important;
   
    height: 750px;
    @include apply-at-lg-size{
        height: 650px;
    }
    padding: 1rem;
}
.containerTop{
    display: flex;
    justify-content: space-between;
}
.contentContainer{
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
}
.divider{
    display: none;
    margin: 0 15px !important;
    @include apply-at-xl-size{
        display: block;
    }
}
.uploadForm{
    display: none;
    @include apply-at-xl-size{
        display: block;
    }
}
.btnUpload{
    display: block;
    @include apply-at-xl-size{
        display: none !important;
    }
}