@import '../../Styles/global.scss';

.uploadFormContainer{
    padding: 1.5rem;
}
p{
    margin:0;
    margin-top: 20px;
}
.buttonContainer{
    float: right;
    margin-top: 20px;
}
.warning{
    color: $color-red;
    margin-top: 15px;
}
.question{
    margin-right: 5rem;
}