@import '../../Styles/global.scss';

p{
    margin:0;
    margin-top: 20px;
}
.container{
    height: 100%;
    padding: 1rem;
    @include apply-at-lg-size{
        padding: 3rem;
    }
}
.uploadedFile{
    max-height: 650px;
}
.uploadedContainer{
    @extend .uploadedFile;
    width: 100%;
    @include apply-at-lg-size{
        width: 75%;
    }
    height: 650px;
    padding: 1rem;
}
.containerTop{
    display: flex;
    justify-content: space-between;
}
.contentContainer{
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
}
.divider{
    display: none;
    margin: 0 15px !important;
    @include apply-at-md-size{
        display: block;
    }
}
.uploadForm{
    display: none;
    @include apply-at-md-size{
        display: block;
    }
}
.btnUpload{
    display: block;
    @include apply-at-md-size{
        display: none !important;
    }
}